<footer class="container" style="margin-top: 100px;">
  <p class="text-center">Copyright ©2017 MovieReview
      <br>Design by
      <a href="http://rswong-blog.logdown.com/posts/1631894/" target=_new>rs7wong</a>
      <br>Base on Rails101
      <a href="http://courses.growthschool.com/courses/rails-101/"target=_new>xdite</a>
  </p>
</footer>
